body {
  margin: 0;
}

.head {
  text-align: center;
  font-family: courier;
  margin-top: 300px;
  text-decoration: none;
  font-size: 22px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
  color: #3a433e;
}

.sub {
  text-align: center;
  font-family: courier;
  font-size: 12px;
  margin-top: -10px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

.container {
  width: 345px;
  margin: auto;
  text-align: center;
  font-family: courier;
  font-size: 12px;
  margin-top: 50px;
  color: black;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}


#clockbox {
  text-align: center;
  margin: auto;
  color: black;
  margin-top: 30px;
  font-size: 12px;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
  color: #3a433e;
}

.logo {
  width: 74px;
  margin: auto;
  height:10px;
  margin: auto;
  margin-top: 60px;
  opacity: 0.8;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

.insta {
  float: left;
  width: 18px;
  padding-right: 10px
}
.fb {
  float: left;
  width: 18px;
  padding-right: 10px
}

.linkdin {
  float: left;
  width: 18px;
}

@-webkit-keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

img.hover {
  color: #3a433e;
  transition: all 0.4s ease-in-out 0s;
}
