html {
  background: url(back2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#invite {
  width: 500px;
  height: 250px;
  margin: auto;
  margin-top: 310px;
  background-color: #3a433e;
  border-radius: 5px;
  filter: drop-shadow(20px 20px 20px black);
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

#title {
  text-align: center;
  font-size: 22px;
  padding-top: 50px;
  color: white;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

#subtitle {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: white;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

.button {
  position: absolute;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 125px;
  margin-top: 25px;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

.button2 {
  position: absolute;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 260px;
  margin-top: 25px;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;
}

#clockbox {
  text-align: center;
  margin-top: 90px;
  color: white;
  font-size: 12px;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1s;

}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
    background-color: #ede3d0;
    transition: all 0.4s ease-in-out 0s;
}

/* .button:hover {
  opacity: 0.4;
  transition: all 0.4s ease-in-out 0s;
}

.button2:hover {
  opacity: 0.4;
  transition: all 0.4s ease-in-out 0s;
} */

@-webkit-keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
