body {
  background: url(back2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

@font-face {
    font-family: 'tw_cen_mt_stdsemibold';
    src: url('twcensemi-webfont.woff2') format('woff2'),
         url('twcensemi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tw_cen_mt_stdregular';
    src: url('twcen-webfont.woff2') format('woff2'),
         url('twcen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.head {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 290px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1.5s;
}

.by {
  font-size: 12px;
  text-align: center;
  color: white;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: courier;
  font-weight: normal;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1.5s;
}

.container {
  width: 150px;
  height: 120px;
  margin: auto;
  margin-top: 70px;
  position: relative;
  font-family: courier;
  font-size: 12px;
  color: white;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1.5s;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}


#clockbox {
  width: 150px;
  margin: auto;
  text-align: left;
  color: white;
  font-size: 11px;
  font-family: courier;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1.5s;
}

.text2 {
  width: 150px;
  margin: auto;
  color: white;
  font-size: 11px;
  margin-top: 10px;
  font-family: courier;
  text-align: left;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1.5s;
}

.logo {
  width: 150px;
  margin: auto;
  height:10px;
  margin: auto;
  margin-top: 30px;
  opacity: 0.8;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 1.5s;
}

.insta {
  float: left;
  width: 15px;
  padding-right: 10px
}
.fb {
  float: left;
  width: 15px;
  padding-right: 10px
}

.linkdin {
  float: left;
  width: 15px;
  padding-right: 10px
}

.bottom {
  font-family: courier;
  font-size: 11px;
  color: white;
}

ul {
  list-style-type: none;
  margin-top: 35px;
  padding: 0;
  overflow: hidden;
}

li {
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding-bottom: 10px;
  text-decoration: none;
}

li a:link {
  color: white;
}

li a:visited {
  color: white;
}

li a:hover {
    color: #84e5f1;
    transition: all 0.4s ease-in-out 0s;
}

@-webkit-keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
