body {
  margin: 0;
}

@font-face {
    font-family: 'tw_cen_mt_stdsemibold';
    src: url('twcensemi-webfont.woff2') format('woff2'),
         url('twcensemi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tw_cen_mt_stdregular';
    src: url('twcen-webfont.woff2') format('woff2'),
         url('twcen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.head {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-top: 120px;
}

.by {
  font-size: 12px;
  text-align: center;
  color: #3e3d3d;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: courier;
  font-weight: normal;
}

.container {
  width: 610px;
  height:450px;
  margin: auto;
  margin-top: 42.5px;
  position: relative;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  width: 100%;
  height: 41px;
  padding: 1px;
  position: relative;
}

.image {
  width: 100%;
  height: 41px;
  object-fit: cover;
  opacity: 0.8;
}

.middle {
  transition: all 0.4s ease-in-out 0s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.row:hover .image {
  opacity: 0.3;
  transition: all 0.4s ease-in-out 0s;
}

.row:hover .middle {
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.text {
  color: #3e3d3d;
  font-size: 12px;
  font-family: courier;
}

#clockbox {
  float: right;
  color: #3e3d3d;
  font-size: 11px;
  font-family: courier;
}

.bottom {
  width: 610px;
  margin: auto;
  font-family: courier;
  font-size: 11px;
  color: #3e3d3d;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0s;
}

ul {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding-right: 20px;
  text-decoration: none;
}

li a:link {
  color: #3e3d3d;
}

li a:visited {
  color: #3e3d3d;
}

li a:hover {
    color: #84e5f1;
    transition: all 0.4s ease-in-out 0s;
}

@-webkit-keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
