html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
  margin-top: 1%;
}

header {
  text-align: center;
  font-family: courier;
  font-weight: 700;
  font-size: 12px;
  margin-top: 2%;
}

p {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: courier;
  font-size: 10px;
  
}
